# Theme metadata
name = "Custom"

[light]
  # Primary
  primary = "#042e3d"

  # Menu
  menu_primary = "#042e3d" 
  menu_text = "#fff"
  menu_text_active = "#6bb6d1" 
  menu_title = "#fff"

  # Home sections
  home_section_odd = "rgb(255, 255, 255)"
  home_section_even = "rgb(247, 247, 247)"

#menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff; 
  padding: 10px;
}


#main-menu ul {
  list-style-type: none;
  display: flex; 
  gap: 20px; 
}

#main-menu ul li a {
  color: #fff; 
  text-decoration: none;
}

/* Active menu link color */
#main-menu ul li a:hover, #main-menu ul li a:active {
  color: #6bb6d1;
}


@media (max-width: 768px) {
  #menu-toggle {
    display: block;
  }


  #main-menu ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px; 
    left: 0;
    width: 100%;
    background-color: #042e3d; 
  }

  #main-menu.active ul {
    display: flex;
  }
}  
